<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{{ url_for('home') }}" class="navbar-item {% if request.path == url_for('home') %}active{% endif %}">Home</a>
            <a href="{{ url_for('enternew') }}" class="navbar-item {% if request.path == url_for('enternew') %}active{% endif %}">Add Student</a>
            <a href="{{ url_for('list') }}" class="navbar-item {% if request.path == url_for('list') %}active{% endif %}">Manage Students</a>
            <a href="{{ url_for('upload') }}" class="navbar-item {% if request.path == url_for('upload') %}active{% endif %}">Upload File</a>
            <a href="{{ url_for('displayResult') }}" class="navbar-item {% if request.path == url_for('displayResult') %}active{% endif %}">Result</a>
        </div>
    </nav>

    <main class="body-content">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" width="35" height="20">
            &copy; 2025 My Website. All rights reserved.
        </p>
    </footer>
</body>
</html>
